<h1>ARE YOU SURE YOU WANT TO DELETE...:</h1>
<h2>INDEX: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_indexes where indexname='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["indexname"] %></h2>
    <h2><%=row["indexdef"] %></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", indexes_index_path %></h2>
