<h1>INDEX:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%sqq = "select * from pg_indexes where indexname='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<% vivi = "Hallo"%>
<%rows.each do |row|%>
    <% vivi = row["indexdef"] %>
<%end%>
<%= form_tag do %>
    EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Edit' %>
    <%end%>
<hr>
<h2><%= link_to "Back", indexes_index_path %></h2>
