<h1>INDEXES</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT indexname,tablename FROM pg_indexes')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["indexname"] %></h2>
    <%= link_to "Show", indexes_show_path(@oscar) %>
    <%= link_to "Edit", indexes_edit_path(@oscar) %>
    <%= link_to "Delete", indexes_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", indexes_new_path %></h2>
