<h1>INDEX:</h1>
<hr>
<%sqq = "select * from pg_indexes where indexname='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["indexname"] %></h2>
    <h2><%=row["indexdef"] %></h2>
<%end%>
<hr>
<h2><%= link_to "Back", indexes_index_path %></h2>
