<h1>CONNECT</h1>
<p>Login:</p>
<hr>
<%= form_tag do %>
User: <%= text_field_tag :usernames%><br />
Password: <%= text_field_tag :passwords%><br />
<%= submit_tag 'DONE' %>
<%end%>
<hr>
<h2><%= link_to "GET IN", menus_lobby_path %></h2>
