<h1>LOBBY</h1>
<%sql1= "SELECT SESSION_USER, CURRENT_USER"%>
<%helgas = ActiveRecord::Base.connection.exec_query(sql1)%>
<%helgaz="HALO"%>
<%helgas.each do |helga|%>
    <h2><%=helgaz=helga["current_user"] %></h2>
<%end%>
<h2>CURRENT SESSION: </h2><%=helgaz["current_user"]%>
<hr>
<h1><%= link_to "Connections", users_index_path %></h1>
<h1><%= link_to "Tables", tables_index_path %></h1>
<h1><%= link_to "Views", views_index_path %></h1>
<h1><%= link_to "Indexes", indexes_index_path %></h1>
<h1><%= link_to "Triggers", triggers_index_path %></h1>
<h1><%= link_to "Checks", checks_index_path %></h1>
<h1><%= link_to "Procedures", procedures_index_path %></h1>
<hr>
<h2><%= link_to "Back", menus_index_path %></h2>