<h1>ARE YOU SURE YOU WANT TO DELETE...:</h1>
<h2>USER: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_user where usename='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["usename"] %></h2>
    <h2><%=row["passwd"] %></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", users_index_path %></h2>
