<h1>USER:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%= form_tag do %>
    <% vivi = "ALTER "+@oscar+" ..."
    EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Edit' %>
    <%end%>
<hr>
<h2><%= link_to "Back", users_index_path %></h2>
