<h1>CONNECTIONS</h1>
<p>Users:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT usename,passwd FROM pg_user')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["usename"] %></h2>
    <%= link_to "Show", users_show_path(@oscar) %>
    <%= link_to "Edit", users_edit_path(@oscar) %>
    <%= link_to "Delete", users_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", users_new_path %></h2>