<h1>CONNECTION</h1>
<p>New:</p>
<hr>
<%= form_tag do %>
User: <%= text_field_tag :usernames%><br />
Password: <%= text_field_tag :passwords%><br />
<%= submit_tag 'Create' %>
<%end%>
<hr>
<h2><%= link_to "Back", users_index_path %></h2>

