<h1>USER:</h1>
<hr>
<%sqq = "select * from pg_user where usename='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["usename"] %></h2>
    <h2><%=row["passwd"] %></h2>
<%end%>
<hr>
<h2><%= link_to "Back", users_index_path %></h2>