<h1>ARE YOU SURE YOU WANT TO DELETE...</h1>
<h2>TABLE: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_tables where tablename='"+@oscar+"'"%>
<%sqs = "select pg_get_tabledef('"+@oscar+"')"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["tablename"] %></h2>
    <h2><%=row["schemaname"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_tabledef"] %></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", tables_index_path %></h2>
