<h1>TABLES:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%sqs = "select pg_get_tabledef('"+@oscar+"')"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<% vivi = "Hallo"%>
<%rows.each do |row|%>
    <% vivi = row["pg_get_tabledef"] %>
<%end%>
<%= form_tag do %>
    EXECUTE SQL: <%= text_area_tag :sqls,nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Edit' %>
    <%end%>
<hr>
<h2><%= link_to "Back", tables_index_path %></h2>
