<h1>TABLES</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% tables = ActiveRecord::Base.connection.exec_query('SELECT tablename,tablespace FROM pg_tables WHERE tableowner=CURRENT_USER')%>
<%tables.each do |table|%>
    <h2><%=@oscar = table["tablename"] %></h2>
    <%= link_to "Show", tables_show_path(@oscar)%>
    <%= link_to "Edit", tables_edit_path(@oscar) %>
    <%= link_to "Delete", tables_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", tables_new_path %></h2>
