<h1>TABLE</h1>
<p>New:</p>
<hr>
<%= form_tag do %>
EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: "CREATE TABLE 'tablename'(
    column1       char(5),
    column2       varchar(40),
    column3       integer,
    column4       date,
    column5       varchar(10),
    column6       interval hour to minute,
    CONSTRAINT 'checkname' PRIMARY KEY(column,title)
);"%><br />
<%= submit_tag 'Create' %>
<%end%>
<hr>
<h2><%= link_to "Back", tables_index_path %></h2>
