<h1>TABLE:</h1>
<hr>
<%sqq = "select * from pg_tables where tablename='"+@oscar+"'"%>
<%sqs = "select pg_get_tabledef('"+@oscar+"')"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["tablename"] %></h2>
    <h2><%=row["schemaname"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_tabledef"] %></h2>
<%end%>
<hr>
<h2><%= link_to "Back", tables_index_path %></h2>