<h1>ARE YOU SURE YOU WANT TO DELETE...:</h1>
<h2>VIEW: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_views where viewname='"+@oscar+"'"%>
<%sqs = "select pg_get_viewdef('"+@oscar+"', true)"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["viewname"] %></h2>
    <h2><%=row["definition"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_viewdef"] %></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", views_index_path %></h2>
