<h1>VIEW:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%sqs = "select pg_get_viewdef('"+@oscar+"', true)"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<% vivi = "Hallo"%>
<%rows.each do |row|%>
    <% vivi = row["pg_get_viewdef"] %>
<%end%>
<%= form_tag do %>
    EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Create' %>
    <%end%>
<hr>
<h2><%= link_to "Back", views_index_path %></h2>
