<h1>VIEWS</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT viewname FROM pg_views WHERE viewowner=CURRENT_USER')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["viewname"] %></h2>
    <%= link_to "Show", views_show_path(@oscar) %>
    <%= link_to "Edit", views_edit_path(@oscar) %>
    <%= link_to "Delete", views_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", views_new_path %></h2>
