<h1>VIEW</h1>
<p>New:</p>
<hr>
<%= form_tag do %>
EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25",placeholder: "CREATE VIEW 'viewname' ..."%><br />
<%= submit_tag 'Create' %>
<%end%>
<hr>
<h2><%= link_to "Back", views_index_path %></h2>
