<h1>CHECK CONSTRAINT:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%sqs = "select pg_get_constraintdef(oid) from pg_constraint where conname='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<% vivi = "Hallo"%>
<%rows.each do |row|%>
    <% vivi = row["pg_get_constraintdef"] %>
<%end%>
<%= form_tag do %>
    EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Edit' %>
    <%end%>
<hr>
<h2><%= link_to "Back", checks_index_path %></h2>
