<h1>CHECKS CONSTRAINS</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT conname FROM pg_constraint')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["conname"] %></h2>
    <%= link_to "Show", checks_show_path(@oscar) %>
    <%= link_to "Edit", checks_edit_path(@oscar) %>
    <%= link_to "Delete", checks_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", checks_new_path %></h2>
