<h1>CHECK:</h1>
<hr>
<%sqq = "select * from pg_constraint where conname='"+@oscar+"'"%>
<%sqs = "select pg_get_constraintdef(oid) from pg_constraint where conname='"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["conname"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_constraintdef"] %></h2>
<%end%>
<hr>
<h2><%= link_to "Back", checks_index_path %></h2>