<h1>ARE YOU SURE YOU WANT TO DELETE...:</h1>
<h2>PROCEDURE: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_proc where proname='"+@oscar+"'"%>
<%sqs = "select pg_get_functiondef(oid) from pg_proc where proname = '"+@oscar+"'";%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["proname"] %></h2>
    <h2><%=row["schemaname"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_functiondef"]%></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", procedures_index_path %></h2>
