<h1>PRECUDERS:</h1>
<p>Edit:</p>
<p><%=@oscar%></p>
<hr>
<%sqs = "select pg_get_functiondef(oid) from pg_proc where proname = '"+@oscar+"'";%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<% vivi = "Hallo"%>
<%rows.each do |row|%>
    <% vivi = row["pg_get_functiondef"] %>
<%end%>
<%= form_tag do %>
    EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25", placeholder: vivi%><br />
    <%= submit_tag 'Edit' %>
    <%end%>
<hr>
<h2><%= link_to "Back", procedures_index_path %></h2>
