<h1>STORED PROCEDURES</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT proname FROM pg_proc')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["proname"] %></h2>
    <%= link_to "Show", procedures_show_path(@oscar) %>
    <%= link_to "Edit", procedures_edit_path(@oscar) %>
    <%= link_to "Delete", procedures_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", procedures_new_path %></h2>
