<h1>ARE YOU SURE YOU WANT TO DELETE...:</h1>
<h2>TRIGGER: <%=@oscar%></h2>
<hr>
<%sqq = "select * from pg_trigger where tgname='"+@oscar+"'"%>
<%sqs = "select pg_get_triggerdef(oid) from pg_trigger where tgname = '"+@oscar+"'"%>
<% rows = ActiveRecord::Base.connection.exec_query(sqq)%>
<%rows.each do |row|%>
    <h2><%=row["tgname"] %></h2>
    <h2><%=row["tgenabled"] %></h2>
<%end%>
<% rows = ActiveRecord::Base.connection.exec_query(sqs)%>
<%rows.each do |row|%>
    <h2><%=row["pg_get_triggerdef"] %></h2>
<%end%>
<%= submit_tag 'Delete' %>
<hr>
<h2><%= link_to "Back", triggers_index_path %></h2>
