<h1>TRIGGERS</h1>
<p>By User:</p>
<h2><%= link_to "Lobby", menus_lobby_path %></h2>
<hr>
<% rows = ActiveRecord::Base.connection.exec_query('SELECT tgname FROM pg_trigger')%>
<%rows.each do |row|%>
    <h2><%=@oscar = row["tgname"] %></h2>
    <%= link_to "Show", triggers_show_path(@oscar) %>
    <%= link_to "Edit", triggers_edit_path(@oscar) %>
    <%= link_to "Delete", triggers_delete_path(@oscar) %>
<%end%>
<hr>
<h2><%= link_to "New", triggers_new_path %></h2>
