<h1>TRIGGERS</h1>
<p>New:</p>
<hr>
<%= form_tag do %>
EXECUTE SQL: <%= text_area_tag :sqls, nil, size: "85x25"%><br />
<%= submit_tag 'Create' %>
<%end%>
<hr>
<h2><%= link_to "Back", triggers_index_path %></h2>
